/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { font: 12px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; }
h1 { padding:10px 0 0 0; }
p { padding:10px 0; }
a { color:#999; text-decoration:none; }
a:hover { text-decoration:none; }



/* BASIC WEB PAGE LAYOUT */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#content_container {
   min-height:100%;
   position:relative;
}
#content_header {
   background-color:#F6F6F6;
   padding:20px;
   text-align:center;
}
#content_body {
   padding:10px;
   padding-bottom:10px;   /* Height of the footer */
}
#content_footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#EFF0EF;
}

div.sub_menu {
    display:table;
    width:100%;
    height:100%;
    table-layout: fixed;
}
div.sub_menu span {
    display:table-cell;
    text-align:center;
	vertical-align: middle;
    border: 0px; 
}


.yahaIcon {
	position: relative;
	display: inline-block; 
}
.yahaIcon::after {	
	content: ""; 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
}

#flyinMainNavSelector{
	position:fixed;
	top:-50px;
	left: calc(50% - 50px);
	z-index:101;
}

#flyinMainNav{
	position:fixed;
	top:-605px;
	height:600px;
	left:10%;
	right:10%;
	z-index:102;
	border: 1px solid #0080FF;
	background-color: #FFFFFF;
	margin: 0px 0px 0px 0px;
}

#contentOverlay{
	display:none;
	background-color: #808080;
	opacity:0.2;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; border: 1px solid #000000;}

.chart {
  position: relative;
  width: 450px;
  height: 450px;
  top: 0;
  left: calc(50% - 150px);
}
.pieTip {
  position: absolute;
  float: left;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 18px 6px;
  border-radius: 2px;
  background: rgba(255,255,255,.97);
  color: #444;
  font-size: 19px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: all .3s;
     -moz-transform: all .3s;
      -ms-transform: all .3s;
       -o-transform: all .3s;
          transform: all .3s;
  pointer-events: none;
  z-index:200;
}
.pieTip:after {
      position: absolute;
      left: 50%;
      bottom: -6px;
      content: "";
      height: 0;
      margin: 0 0 0 -6px;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      border-top: 6px solid rgba(255,255,255,.95);
      line-height: 0;
}
.chart path { cursor: pointer; }


